body {
    font-family: "Montserrat", sans-serif;
    background-color: #fafafa;
  }
  
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  a {
    text-decoration: none;
    color: currentColor;
  }
  
  ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  
  button {
    cursor: pointer;
  }
  
  address {
    font-style: normal;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .link {
    text-decoration: none;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .section-title {
    color: #111;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }
  
  .section-title span {
    color: #fd9222;
  }
  
  
  .container {
    max-width: 375px;
    padding: 0 20px;
    margin: 0 auto;
  }
    
  
  @media only screen and (min-width: 768px) {  
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    }
  }
  
  
  @media only screen and (min-width: 1166px) {
  .container {
    max-width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
}
}


/*?---------=== HEADER MOBILE STYLES===------- ?*/

.header {
  padding-top: 20px;
  padding-bottom: 14px;
}

.header-container {
  display: flex;
  gap: 90px;
  align-items: center;
}

.header-navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  color: #111;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-logo-italic {
  font-style: italic;
}

.header-menu-list {
  display: flex;
  gap: 24px;
  display: none;
}

.header-menu-link {
  color: #111;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.head-soc-icon {
  fill: transparent;
  stroke: #111;
}

.head-soc-icon:hover {
  stroke: #fd9222;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
  color: #fd9222;
}

.head-soc-list {
  display: flex;
  gap: 14px;
  display: none;
}

.menu-open-btn {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.menu-open-btn-icon {
  stroke:rgba(17, 17, 17, 1)
}


/*?========------tablet styles============  */
/*?========================================*/

@media only screen and (min-width: 768px) {
.header {
  padding-top: 24px;
  padding-bottom: 35px;
}
}



/**========------Desktop styles-----============  */
/**========================================*/

@media only screen and (min-width: 1166px) {
  .header {
    padding-bottom: 32px;
  }

  .header-container {
    display: flex;
    gap: 90px;
    align-items: center;
  }
  
  .header-navigation {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
  }

  .header-menu-list {
    display: flex;
    gap: 24px;
  }
  
  .header-menu-link {
    color: #111;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
  }
  
  .head-soc-icon {
    fill: transparent;
    stroke: #111;
  }
  
  .head-soc-icon:hover {
    stroke: #fd9222;
  }
  
  .header-menu-link:hover,
  .header-menu-link:focus,
  .header-menu-link:active {
    color: #fd9222;
  }
  
  .head-soc-list {
    display: flex;
    gap: 14px;
  }
  }


/**-------------------------*/
/**----------HERO-----------*/

.hero {
        padding-bottom: 40px;
    
  background-color: rgba(17, 17, 17, 0.6);
  background-image: linear-gradient(
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4)
    ),
    url(../img/chocolate_main-mobile-1x-min.jpg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  /* border-radius: 30px;
  padding: 395px 20px 20px 20px; */
}

@media only screen and (min-resolution: 192dpi) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4)
    ),
      url(../img/chocolate_main-mobile-@2x-min.jpg);
  }
}

.hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  padding: 395px 20px 20px 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  max-width: 295px;
}


.hero-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  align-items: center;
}

.hero-buy-btn {
  padding: 12px 28px;
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  background-color: #fd9222;
  border: 1px solid transparent;
  cursor: pointer;
  margin-right: 14px;
  transition-property: background-color, border-color;
  transition-duration: 400ms, 0.3s;
}

.hero-buy-btn:hover {
  background-color: transparent;
  border-color: #ffffff;
}

.hero-made-btn {
  padding: 12px 28px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  border: 1px solid #fff;
  background-color: transparent;
}

.hero-down-btn {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.03em;
  margin-left: auto;
}


/*?========------tablet styles============  */
/*?========================================*/

@media only screen and (min-width: 768px) {
  .hero {
    min-width: 768px;
    background-image: linear-gradient(
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4)
    ), 
    url(../img/chocolate_main-tablet-min.jpg);
  }
}

@media only screen and (min-resolution: 192dpi) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4)
    ),
    url(../img/chocolate_main-tablet@2x-min.jpg);
  }


.hero-title {
  font-size: 28px;
  padding: 671px 40px 40px 40px;
}

.hero-made-btn {
  padding: 14px 40px;

}
}


/**========------Desktop styles-----============  */
/**========================================*/

@media only screen and (min-width: 1200px) {
  .hero {
    min-width: 1200px;
    background-image: linear-gradient(
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4)
    ), 
    url(../img/chocolate_main.jpg);
  }
}

@media only screen and (min-resolution: 192dpi) and (min-width: 1200px) {
  .hero {
    min-width: 1200px;
    background-image: linear-gradient(
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4)
    ),
    url(../img/chocolate_main@2x-min.jpg);
  }

  .hero-title {
    font-size: 28px;
    padding: 395px 20px 20px 20px;
  }

  .hero-made-btn {
    padding: 14px 40px;

}
}


/**-------------------------*/
/**----------FEATURES-----------*/

.features {
  background: #1e1823;
  padding-top: 20px;
  padding-bottom: 20px;
}

.features-list {
  /* padding: 0 20px; */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.features-item {
  width: 100%;
  padding-right: 28px;
}

.features-item-icons {
border: 1px solid rgba(255, 255, 255, 0.5);
border-radius: 365px;
width: 62px;
height: 62px;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 22px;
}

.features-icons {
  fill: #fd9222;

}

.features-item:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 124px;
  right: -44px;
  top: 0;
  position: absolute;
  background-color: rgba(228, 227, 223, 0.5);
  top: 50%;
  transform: translateY(-50%);
}

.features-subtitle {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 18px;
}

.features-item-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/*?========------tablet styles============  */
/*?========================================*/

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
}

    .features {
    padding-top: 50px;
    padding-bottom: 50px;
}

  .features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 44px 88px;
}

  .features-item {
    width: calc((100% - 88px) / 2);
}
}

/**========------Desktop styles-----============  */
/**========================================*/

@media only screen and (min-width: 1166px) {
  .container {
    width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
}

.features-list {
  padding-left: 18px;
  padding-right: 18px;
  gap: 88px;
}

.features-item {
  width: calc((100% - 88px * 2) / 3);
}
}


/**------------------------------*/
/**-------------TASTE-------------*/

.taste {
  padding-top: 80px;
  padding-bottom: 40px;
}

.taste-title {
  max-width: 412px;
  margin: 0 auto 28px;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

.taste-text {
  color: #111;
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin: 0 auto;
  /* margin-bottom: 50px; */
  margin-bottom: 32px;
  max-width: 486px;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.taste-item {
  position: relative;
  border-radius: 15px;
  border: 1px solid #fd9222;
  background: #fff;
  width: 100%;
  padding: 28px 23px;
  overflow: hidden;
}

.taste-item:nth-child(4n + 1) {
  background-color: rgba(253, 146, 34, 1);
}

.taste-item:nth-child(4n + 3) {
  background-color: black;
}

.taste-item:nth-child(odd) .taste-subtitle {
  color: rgba(255, 255, 255, 1);
}

.taste-img {
  margin: 0 auto;
}

.taste-subtitle {
  color: #111;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  padding-left: 5px;
}

.taste-img {
  margin: 0 auto;
  margin-bottom: 28px;
  /* margin-bottom: 36px; */
}

.ingredient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(17, 17, 17, 1);
  width: 100%;
  height: 100%;
  overflow: auto;
  border-radius: 15px;
  padding: 20px 15px;
  gap: 10px;
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.taste-subtitle-ingredient {
  font-size: 18px;
  letter-spacing: -0.03em; 
  margin-bottom: 8px;
}

.taste-item:hover .ingredient-overlay {
  transform: translateY(0%);
}

.taste-btn {
  font-family: inherit;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #fff;
  border-radius: 35px;
  border: none;
  padding: 6px 16px;
  /* width: 81px;
  height: 24px; */
  background-color: #fd9222;
  margin-right: 6px;
}

.taste-btn-benefits {
  font-family: inherit;
  font-size: 10px;
  line-height: 1.2;
  color: #111;
  border: 1px solid #fd9222;
  border-radius: 35px;
  padding: 6px 16px;
  /* width: 93px;
  height: 24px; */
  background-color: #fafafa;
  /* margin-bottom: 14px; */
}

.ingredient-btns {
  display: inline-block;
  margin-bottom: 14px;
}


/*?========------tablet styles============  */
/*?========================================*/

@media screen and (min-width: 768px) {
.taste {
  padding-top: 100px;
  padding-bottom: 50px;
}

.taste-text {
  margin-bottom: 50px;
}

.taste-list {
  gap: 32px;
}

.taste-item {
  width: calc((100% - 32px) / 2);
}
}

/**========------Desktop styles-----============  */
/**========================================*/

@media only screen and (min-width: 1166px) {
  .taste {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  .taste-list {
    gap: 24px 32px;
  }
  
  .taste-item {
    width: calc((100% - 96px) / 4);
  }
}


/**------------------------------*/
/**-------------MADE-------------*/

.made {
  padding-top: 40px;
  padding-bottom: 40px;
}

.made-title {
  margin-bottom: 20px;
}

.made-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.made-content {
  background-color: #ffffff;
  padding: 20px 14px;
}

.made-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 20px;
  max-width: 307px;
}

.made-item {
  margin-bottom: 18px;
  display: flex;
  /* gap: 18px; */
  position: relative;
  padding-left: 16px;
}

.made-item + .made-item {
  margin-top: 20px;
}

.made-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 8px;
  height: 8px;
  background-color: #111111;
  border-radius: 50%;
  border: 1px solid #eceded;
  flex-shrink: 0;
}

.made-item:hover::before {
  background-color: #fd9222;
}

.made-item-text {
  color: #111;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}


/*?========------tablet styles============  */
/*?========================================*/

@media screen and (min-width: 768px) {
.made .container {
    width: 678px;
}

.made {
  padding-top: 50px;
  padding-bottom: 50px;
}

.made-title {
  margin-bottom: 50px;
}

.made-content {
  padding: 32px;
}

.made-subtitle {
margin-bottom: 28px;
}
}


/**========------Desktop styles-----============  */
/**========================================*/

@media only screen and (min-width: 1166px) {

  .made .container {
    width: 1166px;
}

  .made {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .made-wrap {
    flex-wrap: nowrap;
  }

  .made-item {
    margin-bottom: 24px;
}
}


/**----------------------------------*/
/**-------------PRODUCTS-------------*/

.products {
  padding-top: 40px;
  padding-bottom: 40px;
}

.products-title {
  margin-bottom: 22px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}

.products-item {
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background-color: #fff;
  width: 100%;
  padding: 32px 53px;
  text-align: center;
}

.products-img {
  margin: 0 auto;
  margin-bottom: 8px;
}

.products-subtitle {
  color: #111;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.products-item-text {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  margin-bottom: 18px;
  text-align: center;
}

.products-item-btn {
  color: #111;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  cursor: pointer;
  /* display: block;
  margin: 0 auto; */
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  padding: 8px 20px;
  background-color: #fafafa;
}


/*?========------tablet styles============  */
/*?========================================*/

@media screen and (min-width: 768px) {
  .products {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .products-title {
    margin-bottom: 50px;
  }
  
  .products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

.products-item {
  width: calc((100% - 32px) / 2);
}
}



/**========------Desktop styles-----============  */
/**========================================*/

@media only screen and (min-width: 1166px) {
  .products {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .products-list {
    gap: 24px 18px;
  }

  .products-item {
    width: calc((100% - 18px * 3) / 4);
    padding: 32px 20px;
  }
  }


  /**----------------------------------*/
/**-------------SELLERS--------------*/

.sellers {
  padding-top: 40px;
  padding-bottom: 40px;
}

.sellers-title {
  font-size: 20px;
  margin: 0 auto 32px;
}